VITE_APP_VERSION=1.0.2
VITE_DEV_SERVER_PORT=5173
VITE_GITHUB_REPO=Jia-zhao-git/JiaMusic
VITE_GITHUB_ANNOUNCEMENT_REPO=Jia-zhao-git/JiaMusic
VITE_GITHUB_ANNOUNCEMENT_ISSUE_NUMBER=1
VITE_GITHUB_ANNOUNCEMENT_AUTHOR=Jia-zhao-git
